.content-wrapper{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "current-power centre-column lifetime-energy"
      "energy-today centre-column status";
      height: 100%;
    margin: 0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .grid-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
  }
  
  .current-power { grid-area: current-power;
   }
  
  .lifetime-energy { grid-area: lifetime-energy; }
  
  .energy-today { grid-area: energy-today; }
  
  .status { grid-area: status; }
  
  .centre-column {grid-area: centre-column;}
  
  html, body {
    height: 100%;
    margin: 0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  
    
  /* For presentation only, no need to copy the code below */
  
  // .container * {
  //   border: 1px solid red;
    
  // }
  
  .container *:after {
        // content:attr(class);}
  }

  .icon {
    width: 9em;
    height: 9em;
  }

  .current-power-image--full{
    background: linear-gradient(60deg, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13); /* defines the background color of the image */
    mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
    -webkit-mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
  }

  .current-power-image--low{
    background: linear-gradient(60deg, #140000, #180100, #250300, #370a01, #4d1802, #672d03, #804905, #9a6b08, #b08e0a, #c2ae0d, #cfc50e, #d3ce0f); /* defines the background color of the image */
    mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
    -webkit-mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
  }

  .current-power-image--medium{
    background: linear-gradient(60deg, #280000, #320909, #531a16, #81381e, #b3621f, #db9415, #f3c605, #fdeb0a, #fffa13); /* defines the background color of the image */
    mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
    -webkit-mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
  }

  
// Settings
$size: 10.5rem;
$speed: 10.25s;

// Container Settings
$batteryHeight: $size;
$batteryRadius: calc($size * 0.02);
$batteryColor: #425C77;
$batteryBackground: white;
$batteryHighlight: rgba($batteryBackground, 0.325);


// Liquid Settings
$liquidSize: calc($size / 4);
$liquidOffset: calc($liquidSize / -2.25);
$liquidColor: #71FB85;





// Loading Keyframes
@keyframes load {
  0% { top: $size; }
  70% { top: $size * 0.25; }
  90% { top: 0; }
  95% { top: 0; }
  100% { top: $size; }
}


// Wave Keyframes
@keyframes liquid-1 {
  0% { height: 0; opacity: 0; top: $liquidOffset; }
  22% { height: $liquidSize * 0.25; top: $liquidOffset * -0.75; opacity: 1; }
  25% { top: $liquidOffset * 0.5; }
  35% { height: $liquidSize * 1; top: $liquidOffset * 1; }
  55% { height: $liquidSize * 0.25; top: $liquidOffset * 0.25; }
  60% { height: $liquidSize * 0.55; opacity: 1; top: $liquidOffset * 0.55; }
  96% { height: $liquidSize * 0.75; opacity: 0; top: $liquidOffset * -1; }
  100% { height: 0; opacity: 0; }
}

@keyframes liquid-2 {
  0% { height: 0; opacity: 0; top: $liquidOffset; }
  17.5% { height: $liquidSize * 0.25; top: $liquidOffset * -0.4; opacity: 1; }
  20% { top: $liquidOffset * 0.5; }
  25% { height: $liquidSize * 1.25; top: $liquidOffset * 1.25; }
  45% { height: $liquidSize * 0.25; top: $liquidOffset * 0.25; }
  60% { height: $liquidSize * 1.25; opacity: 1; top: $liquidOffset; }
  96% { height: $liquidSize * 0.75; opacity: 0; top: $liquidOffset * -1; }
  100% { height: 0; opacity: 0; }
}





// Styles for battery, terminal, and highlight
.battery {
  display: inline-block;
  position: relative;
  width: calc($size / 1.97);
  height: $size;
  box-shadow: 0 0 0 0.2rem $batteryColor;
  background: $batteryBackground;
  border-radius: $batteryRadius;
  
  // Terminal
  &:before {
    content: '';
    position: absolute;
    left: calc($size / 8);
    right: calc($size / 8);
    top: calc($size * -0.075);
    height: calc($size * 0.075);
    width: calc($size / 4);
    background: $batteryColor;
    border-radius: $batteryRadius * 2;
  }
  
  // Highlight
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: ($size * 0.5) solid transparent;
  	border-bottom: ($size - 0.45) solid $batteryHighlight;
  }
}


// Styles for liquid
.liquid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc($size / 2);
  background: $liquidColor;
  animation: load $speed infinite;
  
  // Bubbles
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: $liquidOffset;
    height: $liquidSize;
    width: $liquidSize * 1.3;
    background: $liquidColor;
    border-radius: 50%;
    opacity: 0;
  }
  
  &:after {
    right: 0;
    animation: liquid-1 $speed infinite;
  }
  
  &:before {
    left: 0;
    animation: liquid-2 $speed infinite;
  }
}

// Boring Stuff
body {
  text-align: center;
}

@keyframes power {
  0% { color: #bcbcbc; }
  75% { color: #bcbcbc; text-shadow: none; }
  90% { color: darken($liquidColor, 5%); text-shadow: 0 0 0.8em $liquidColor; }
  100% { color: #bcbcbc; text-shadow: none; }
}

h5 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #bcbcbc;
  animation: power $speed infinite;
}


#model-s-image {
  z-index: 1;
  width: 8vw;
}


.solar-panel-container {
  display: flex;
  width: 34.5vw;
  margin-left: auto;
  margin-right: auto;
  height: 19vw;
  border: 2px solid black;
  box-shadow: 5px 10px #888888;
  padding: 5px
}

.solar-panel-background {
  height: 100%;
  width: 100%;
  background-color:rgb(34, 102, 153,0.2);
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
 
}


.solar-panel-content-array_status h1{
  font-size: 7vw;
}


.panel-header-text {
  
  font-size: 2vw;
  margin-top: 15px;
    color: gray;
    font-weight: bolder;

}


#power-level {
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
}


h1{
  font-size: 2.5vw;
}

#school-solar-array-header {

    font-size: 5rem;

}


h1#energy-today-h1 {
  margin-top: 2em;
}

#amount-of-ev{
  font-size: 2vw;
}


