.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "current-power lifetime-energy"
      "energy-today status";
  }

  .grid-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
  
  .current-power { grid-area: current-power;
   }
  
  .lifetime-energy { grid-area: lifetime-energy; }
  
  .energy-today { grid-area: energy-today; }
  
  .status { grid-area: status; }
  
  
  html, body , .container {
    height: 100%;
    margin: 0;
  }
    
  /* For presentation only, no need to copy the code below */
  
  .container * {
    border: 1px solid red;
    
  }
  
  .container *:after {
        // content:attr(class);}
  }

  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   display: grid;
  //   align-items: center;
  //   justify-content: center;
  // }

  .icon {
    width: 10em;
    height: 10em;
    margin-top: 4px;
  }

  .current-power-image--full{
    background: linear-gradient(60deg, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13); /* defines the background color of the image */
    mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
    -webkit-mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
  }

  .current-power-image--low{
    background: linear-gradient(60deg, #140000, #180100, #250300, #370a01, #4d1802, #672d03, #804905, #9a6b08, #b08e0a, #c2ae0d, #cfc50e, #d3ce0f); /* defines the background color of the image */
    mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
    -webkit-mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
  }

  .current-power-image--medium{
    background: linear-gradient(60deg, #280000, #320909, #531a16, #81381e, #b3621f, #db9415, #f3c605, #fdeb0a, #fffa13); /* defines the background color of the image */
    mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
    -webkit-mask: url(./images/lighting_bolt.svg) no-repeat center / contain;
  }

  