.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  gap: 0px 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "current-power centre-column lifetime-energy" "energy-today centre-column status";
  height: 100%;
  margin: 0;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.current-power {
  grid-area: current-power;
}

.lifetime-energy {
  grid-area: lifetime-energy;
}

.energy-today {
  grid-area: energy-today;
}

.status {
  grid-area: status;
}

.centre-column {
  grid-area: centre-column;
}

html, body {
  height: 100%;
  margin: 0;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* For presentation only, no need to copy the code below */
.icon {
  width: 9em;
  height: 9em;
}

.current-power-image--full {
  background: linear-gradient(60deg, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13, #fffa13);
  /* defines the background color of the image */
  mask: url(./images/lighting_bolt.svg) no-repeat center/contain;
  -webkit-mask: url(./images/lighting_bolt.svg) no-repeat center/contain;
}

.current-power-image--low {
  background: linear-gradient(60deg, #140000, #180100, #250300, #370a01, #4d1802, #672d03, #804905, #9a6b08, #b08e0a, #c2ae0d, #cfc50e, #d3ce0f);
  /* defines the background color of the image */
  mask: url(./images/lighting_bolt.svg) no-repeat center/contain;
  -webkit-mask: url(./images/lighting_bolt.svg) no-repeat center/contain;
}

.current-power-image--medium {
  background: linear-gradient(60deg, #280000, #320909, #531a16, #81381e, #b3621f, #db9415, #f3c605, #fdeb0a, #fffa13);
  /* defines the background color of the image */
  mask: url(./images/lighting_bolt.svg) no-repeat center/contain;
  -webkit-mask: url(./images/lighting_bolt.svg) no-repeat center/contain;
}

@-webkit-keyframes load {
  0% {
    top: 10.5rem;
  }
  70% {
    top: 2.625rem;
  }
  90% {
    top: 0;
  }
  95% {
    top: 0;
  }
  100% {
    top: 10.5rem;
  }
}

@keyframes load {
  0% {
    top: 10.5rem;
  }
  70% {
    top: 2.625rem;
  }
  90% {
    top: 0;
  }
  95% {
    top: 0;
  }
  100% {
    top: 10.5rem;
  }
}
@-webkit-keyframes liquid-1 {
  0% {
    height: 0;
    opacity: 0;
    top: -1.1666666667rem;
  }
  22% {
    height: 0.65625rem;
    top: 0.875rem;
    opacity: 1;
  }
  25% {
    top: -0.5833333333rem;
  }
  35% {
    height: 2.625rem;
    top: -1.1666666667rem;
  }
  55% {
    height: 0.65625rem;
    top: -0.2916666667rem;
  }
  60% {
    height: 1.44375rem;
    opacity: 1;
    top: -0.6416666667rem;
  }
  96% {
    height: 1.96875rem;
    opacity: 0;
    top: 1.1666666667rem;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes liquid-1 {
  0% {
    height: 0;
    opacity: 0;
    top: -1.1666666667rem;
  }
  22% {
    height: 0.65625rem;
    top: 0.875rem;
    opacity: 1;
  }
  25% {
    top: -0.5833333333rem;
  }
  35% {
    height: 2.625rem;
    top: -1.1666666667rem;
  }
  55% {
    height: 0.65625rem;
    top: -0.2916666667rem;
  }
  60% {
    height: 1.44375rem;
    opacity: 1;
    top: -0.6416666667rem;
  }
  96% {
    height: 1.96875rem;
    opacity: 0;
    top: 1.1666666667rem;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@-webkit-keyframes liquid-2 {
  0% {
    height: 0;
    opacity: 0;
    top: -1.1666666667rem;
  }
  17.5% {
    height: 0.65625rem;
    top: 0.4666666667rem;
    opacity: 1;
  }
  20% {
    top: -0.5833333333rem;
  }
  25% {
    height: 3.28125rem;
    top: -1.4583333333rem;
  }
  45% {
    height: 0.65625rem;
    top: -0.2916666667rem;
  }
  60% {
    height: 3.28125rem;
    opacity: 1;
    top: -1.1666666667rem;
  }
  96% {
    height: 1.96875rem;
    opacity: 0;
    top: 1.1666666667rem;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes liquid-2 {
  0% {
    height: 0;
    opacity: 0;
    top: -1.1666666667rem;
  }
  17.5% {
    height: 0.65625rem;
    top: 0.4666666667rem;
    opacity: 1;
  }
  20% {
    top: -0.5833333333rem;
  }
  25% {
    height: 3.28125rem;
    top: -1.4583333333rem;
  }
  45% {
    height: 0.65625rem;
    top: -0.2916666667rem;
  }
  60% {
    height: 3.28125rem;
    opacity: 1;
    top: -1.1666666667rem;
  }
  96% {
    height: 1.96875rem;
    opacity: 0;
    top: 1.1666666667rem;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
.battery {
  display: inline-block;
  position: relative;
  width: 5.3299492386rem;
  height: 10.5rem;
  box-shadow: 0 0 0 0.2rem #425C77;
  background: white;
  border-radius: 0.21rem;
}
.battery:before {
  content: "";
  position: absolute;
  left: 1.3125rem;
  right: 1.3125rem;
  top: -0.7875rem;
  height: 0.7875rem;
  width: 2.625rem;
  background: #425C77;
  border-radius: 0.42rem;
}
.battery:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-right: 5.25rem solid transparent;
  border-bottom: 10.05rem solid rgba(255, 255, 255, 0.325);
}

.liquid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 5.25rem;
  background: #71FB85;
  -webkit-animation: load 10.25s infinite;
          animation: load 10.25s infinite;
}
.liquid:after, .liquid:before {
  content: "";
  position: absolute;
  top: -1.1666666667rem;
  height: 2.625rem;
  width: 3.4125rem;
  background: #71FB85;
  border-radius: 50%;
  opacity: 0;
}
.liquid:after {
  right: 0;
  -webkit-animation: liquid-1 10.25s infinite;
          animation: liquid-1 10.25s infinite;
}
.liquid:before {
  left: 0;
  -webkit-animation: liquid-2 10.25s infinite;
          animation: liquid-2 10.25s infinite;
}

body {
  text-align: center;
}

@-webkit-keyframes power {
  0% {
    color: #bcbcbc;
  }
  75% {
    color: #bcbcbc;
    text-shadow: none;
  }
  90% {
    color: #58fa70;
    text-shadow: 0 0 0.8em #71FB85;
  }
  100% {
    color: #bcbcbc;
    text-shadow: none;
  }
}

@keyframes power {
  0% {
    color: #bcbcbc;
  }
  75% {
    color: #bcbcbc;
    text-shadow: none;
  }
  90% {
    color: #58fa70;
    text-shadow: 0 0 0.8em #71FB85;
  }
  100% {
    color: #bcbcbc;
    text-shadow: none;
  }
}
h5 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #bcbcbc;
  -webkit-animation: power 10.25s infinite;
          animation: power 10.25s infinite;
}

#model-s-image {
  z-index: 1;
  width: 8vw;
}

.solar-panel-container {
  display: flex;
  width: 34.5vw;
  margin-left: auto;
  margin-right: auto;
  height: 19vw;
  border: 2px solid black;
  box-shadow: 5px 10px #888888;
  padding: 5px;
}

.solar-panel-background {
  height: 100%;
  width: 100%;
  background-color: rgba(34, 102, 153, 0.2);
  background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.solar-panel-content-array_status h1 {
  font-size: 7vw;
}

.panel-header-text {
  font-size: 2vw;
  margin-top: 15px;
  color: gray;
  font-weight: bolder;
}

#power-level {
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
}

h1 {
  font-size: 2.5vw;
}

#school-solar-array-header {
  font-size: 5rem;
}

h1#energy-today-h1 {
  margin-top: 2em;
}

#amount-of-ev {
  font-size: 2vw;
}/*# sourceMappingURL=style.css.map */